<div class="form-row">
    <div class="form-item">
      <label>Product Name</label>
      <input type="text" name="name" value="<%= product.name %>">
    </div>
    
  </div>

  <div class="form-row">
    <div class="form-item">
      <label>Price</label>
      <input type="number" name="price" value="<%= product.price %>">
    </div>
    
  </div>

<div class="form-row">
    <div class="form-item form-item-no-grow">
    <label>Gender</label>
    <select name="gender">
    <option>Male</option>
    <option>Female</option>
    
    </select>
    </div>
</div>
  
<div class="form-row">
        <div class="form-item form-item-no-grow">
        <label>Product Image Front</label>
        <input type="file" name="cover" class="filepond  image-post">
        </div>
</div>

<div class="form-row">
  <div class="form-item form-item-no-grow">
  <label>Product Image Back</label>
  <input type="file" name="coverBack" class="filepond image-post">
  </div>
</div>
    
    
  
<div class="form-row">
    <div class="form-item">
        <label>Description</label>
        <textarea name="description"><%=product.description%></textarea>
    </div>
</div>
  
  