<div class=>
    <% products.forEach(product =>{%>
            <a href="/books/<%=product.id%>">
            <img class="book-cover " src="<%=product.prodImagePath %>" >
            </a>   
    <%})%>