<h2 style="color: red;">New beach</h2>
<p>eonnnn</p>

<h2 class="page-header">New Product</h2>
<form action="/admin" method="POST">
<%- include('_form_field.ejs') %>
<div class="">
    <a href='/admin' class="btn btn-danger">Cancel</a>
    <button class="btn btn-primary"type="submit">Submit</button>
</div>
</form>