.forWrap{
    display: flex;
    flex-wrap: wrap;
}

.photoblast-sec{
    margin-top: 2em;
    margin-bottom: 1em;
}
.photoblast-divs{
   
    margin: auto;
    
}

.photoblast-info-div{
    position: relative;
    left:25%;
    top:25%;
    width: 50%;
}

.photoblast-div{
    height:17em;
    border: 1px solid black;
    width: 20em;
    margin-left:auto;
    background-color: black;
    margin-bottom: 3em;
}

.photoblast-second-div{
    border: 3px solid whitesmoke;
    height:14em;
    background-color: black;
    margin: 1.5em;
    background-image: url("/images/dunsin.JPG");
    background-size: cover;
}

.photoblast-header{
    color: whitesmoke;
    font-size: 1.5em;
}

.photoblast-btn{
    background-color:black;
    text-decoration: none;
    color:white ;
    position: relative;
    left:8em;
    padding:10px;
    margin-bottom: 3em;
    font-size: .5em;
    cursor: pointer;
    
}

.photoblast-btn:hover{
    color: black;
    background-color:white ;
}

.formen-women-div{
    height:16em;
    border: 2px solid black;
    width: 20em;
    

}
.formen-women-second-div{
    border: 7px solid black;
    height:13em;
    margin: 1em;
    background-image: url("/images/woman-blast.jpg");
    background-size: cover;
}

.men-second-div{
    background-image: url("/images/formen.jpg");
    background-size: cover; 
}

.formen-women-info{
    display: block;
    text-decoration: none;
    position: relative;
    top:30%;
    left:35%;
    width: 60%;
    color: black;
    font-size: 1.2em;
}

.men-info{
    color: white;
}

.bottom-men{
    margin-top: 3em;
}



.new-release-header{
    text-align: center;
    font-size: 1.5em;
    margin-top: 1em;
}

.wrapper-items{
    margin:10px; 
    height: 11em; 
    width: 11em;
    margin-bottom: 3em; 
    box-shadow: 5px 5px 5px #888888;
    
}



.wrapper-div{
    overflow-x: auto;
    white-space: nowrap;   
    scrollbar-width: none;
    
     
}
.wrapper-inside-div{
    display: inline;
}
.wrapper-inside-div{
    margin-left: -6em;
}
.wrapper-inside-div:first-child{
    margin-left: 0em;
}
.wrapper-div::-webkit-scrollbar{
    display: none;
}

.wrapper-info{
    display: inline-block;
    position: relative;
    right: 11.7em;
    text-align: left;
    
}




.wrapper-link{
    text-decoration: none;
}

.dicover-new-div{
    position: absolute;
    top:38%;
    left:25%;
    width: 70%;
    
   
}

.dicover-new-header{
    font-size: 2em;
    color: whitesmoke;

}

.shop-now {
    position: relative;
    left: 55%;
    bottom: 1.8em;
    text-decoration: none;
    color: rgb(252, 252, 252);
    background-color: rgb(0, 0, 0);
    padding:10px;
    font-size: .7em;
}

.display-section{
    margin-top: 5em;
    height:20em;
    background-image: url('./women.jpg');
    background-repeat: no-repeat;
    width:100%;background-size: cover;
    background-position: center; 
    
}

.display-section-div{
    text-align: right;
    color: white;
    margin: auto;
    position: relative;
    top:10em;
    width: 50%;
    margin-right: .5em;
}

.display-section-header{
    font-size: 1.5em;
}

.display-section-link{
    outline: none;
    text-decoration: none;
    background-color: white;
    color: black;
    padding:10px;
}

.main-random-display-section{
    background-color: rgb(245, 236, 236);
    margin: 0;
    padding: 0;
}
.display-h{
    margin: 0;
    padding: 0;
}
.display-h2-element{
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    padding-top:1em;
}
.random-display-section{
    padding-bottom: 4em;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2em;
    margin: auto;
}

.display-pic{
    height: 10em;
    width: 10em;
    
}

.display-div{
    height: 10em;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px #888888;
    margin: auto;
    margin-top: 2em;
}


.display-name-div{
    background-color: white;
    height: 10em;
    width: 10em;
    padding: 1em;
    padding-top: 0.5em;
    box-sizing: border-box;
}
.display-link{
    text-decoration: none;
    color: black;
    outline: none;
    display: block;
    margin: auto;
}
.display-price{
    color: chartreuse;
}


@media(min-width :1083px){
    .dicover-new-header{ 
        font-size: 4em;
        
    }  
    
    .dicover-new-div{
        top:70%;
        left:30%;
        width: 50%;
    }

    .shop-now {
        font-size: 1.5em;
        left: 45%;
        bottom: 2.3em;
    }

    .photoblast-sec{
        margin-top: 5em;
        margin-bottom: 5em;
    }   
    .photoblast-div{
        border: 5px solid black;
        height:35em;
        width: 35em;
        margin-left:5em;
        margin-bottom: 0;
    }
    
    .photoblast-second-div{
        border: 1em solid whitesmoke;
        height:31em;
        margin: 1em;
    }

    .formen-women-div{
    margin-right:5em;
    margin-left: 0;
    }

    .photoblast-header{
    font-size: 2em;
    }  
    .photoblast-info-div{
        
        left:35%;
        top:30%;
    }
    .photoblast-btn{
        font-size: 1em;
        left:3em;
    }    

    .new-release-header{
        font-size: 3em;
        margin-top: 2em;
    }
    .wrapper-items{
        margin: 2em; 
        height: 20em; 
        width: 20em;
        margin-bottom: 3em; 
    }
    .wrapper-inside-div{
        margin-left: 0em;
    }
    .wrapper-inside-div:first-child{
        margin-left: 0em;
    }
    .wrapper-info{
        display: inline-block;
        position: relative;
        right: 22em;
        text-align: left;   
    }

    .display-section{
        margin-top: 5em;
        height:40em;
    }

    .random-display-section{
        padding-bottom: 0;
        margin: auto;
    }

    .main-random-display-section{
        height:45em;
    }
    
    .display-section-div{
        top:22em;
        width: 30%;
        margin-right: 5em;
    }
    
    .display-section-header{
        font-size: 3em;
    }
    
    .display-section-link{
        padding:10px;
    }
    .display-name-div{
        height: 12em;
        width: 12em;
        padding: 1em;
        padding-top: 2em;
    }
    .display-pic{
        height: 12em;
        width: 12em;
    }
    .display-div{
        height: 12em;
        margin-top: 0;
        margin-bottom: 2em;
    }
    .display-h2-element{
        text-align: center;
        font-size: 3em;
        margin: 0;
        padding-top:1em;
        padding-bottom: 1em;
    }
    
}   