@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.line-header-wrap{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4em;
    
}

.shop-line{
    border-top:2.5px solid black;
    width: 5em;
    position: relative;
    top:.7em;
    left: 6%;
    margin: auto;
   
}

.shop-header{
    font-size: 4em;
    display: block;
    position: relative;
    right: 13%;
    margin:auto; 
    font-family: 'Montserrat', sans-serif;
}

.arrow{
    font-size: 2.5em;
    text-decoration: none;
    color: black;
}

.arrow:hover{
    color: red;
}

.bottom-arrow-div{
    text-align: right;
    margin-right: 1em;
}

.top-arrow-div{
    margin-left: 1em;
}

.shop-item{
    margin: auto;
    margin-bottom: 3em;
    background-color: rgb(235, 236, 245);
    border-radius: 5px;
    padding: 20px;
}

.shop-items{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5em;
    margin: auto;
}

.store-products{
    text-align: center;
    height: 15em; 
    width: 15em;
    margin-bottom: .5em;
}


@media(min-width :413px){
    .shop-line{
        left:10%
    }
}

@media(min-width :1085px){

    .bottom-arrow-div{
        
        margin-right: 5em;
    }
    
    .top-arrow-div{
        margin-left: 5em;
    }
    .shop-line{
        border-top:2.5px solid black;
        width: 13em;
        top:1em;
        left: 8%;
    }   
    .shop-header{
        font-size: 8em;
        right: 22%;
    }    
    .store-products{
        margin: 1em; 
        height: 20em; 
        width: 20em;
    } 
    .store-product-info{
        position: relative;
        left: 1em;
    }
}    