<footer>
    <div class="footer-div">
        <div class="footer-inner-div">
            <a href="/coming-soon" class="footer-links"><div>Sign Up for Email</div></a>
            <a href="/coming-soon" class="footer-links grey-link"> <div>Become a Member</div></a>
            <a href="/coming-soon" class="footer-links grey-link"> <div>Careers</div></a>
            <a href="/coming-soon" class="footer-links grey-link"><div>FeedBack</div></a>
        </div>

        <div class="footer-inner-div">
            <a href="/coming-soon" class="footer-links">  <div class="footer-info-div">Get Help</div></a>
            <a href="/coming-soon" class="footer-links grey-link">  <div>Order Status</div></a>
            <a href="/coming-soon" class="footer-links grey-link"> <div>Payment Options</div></a>
            <a href="/coming-soon" class="footer-links grey-link"> <div>Contact Us</div></a>
        </div>

        <div class="footer-inner-div">
            <a href="/coming-soon" class="footer-links"><div>About Nada</div></a>
            <a href="/coming-soon" class="footer-links grey-link"> <div>News</div></a>
             <a href="/coming-soon" class="footer-links grey-link"><div>Careers</div></a>
             <a href="/coming-soon" class="footer-links grey-link"> <div>Investing</div></a>
        </div>

        <div class="footer-logos">
            <a href="https://twitter.com/nada_jerseys?s=20" class="footer-links footer-icon"> <i class="fa fa-twitter fa-2x footer-icon" aria-hidden="true"></i></a>
             <a href="/coming-soon" class="footer-links footer-icon"> <i class="fa fa-instagram fa-2x footer-icon" aria-hidden="true"></i></a>
            <a href="/coming-soon" class="footer-links"> <i class="fa fa-linkedin fa-2x  footer-icon" aria-hidden="true"></i></a>
             <a href="/coming-soon" class="footer-links footer-icon"><i class="fa fa-youtube fa-2x footer-icon" aria-hidden="true"></i></a>
        </div>
    </div>

    <div class="all-rights-div">© 2021 NADA Create. All rights reserved. <a href="">Privacy Policy</a></div>
</footer>