<div>
    <div>
        <h1>User Profile</h1>
        <hr>
        <h2>My Orders</h2>

        <%orders.forEach(order=>{%>
            <div>
                <div>
                    <ul>
                        <%order.items.forEach(itemss=>{%>
                            <li>
                                <%=itemss.price%> <%=itemss.item.name%> | <%=itemss.qty%>
                            </li>

                        <%})%>
                    </ul>
                </div>
                <div>
                    <%=order.cart.totalPrice%>
                </div>
            </div>

        <%})%>
    </div>



</div>