
<div>
    <h2>Sign In</h2>
    <%if (hasErrors) {%>
       
        <%message.forEach(messages=>{%>
        <div> <%=messages%></div>
  <%})}%>  
   
    <div>
        <form action="/user/signin" method="POST">
            <label>Email</label>
            <input name="email" type="email"/>
            <label>Password</label>
            <input name="password" type="password"/>
            <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
            <button type="submit">Sign In</button>
        </form>

        Don't have an account?<a href="/user/signup">Sign Up</a>
    </div>

    
</div>