@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Yusei+Magic&display=swap');
@import "shared/productCover.css";
@import "shared/header.css";
@import "shared/footer.css";
@import "shared/home.css";
@import "shared/shop.css";
@import "shared/cart.css";
@import "shared/sign.css";
@import "shared/checkout.css";
@import "shared/preview.css";

html {
  scroll-behavior: smooth;
}

body{
    margin:0px; 
    padding:0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    
}

body:after{
  content:"";
  position:fixed; /* stretch a fixed position to the whole screen */
  top:0;
  height:100vh; /* fix for mobile browser address bar appearing disappearing */
  left:0;
  right:0;
  z-index:-1; /* needed to keep in the background */
}

main {
  min-height: 100%;
  margin-bottom: -100px;
   width: 100%;
  }
main:after {
  content: "";
  display: block;
  height: 20em
}

.slide-container{
    text-align: center  ;
}



.slideImg{
    width:100%;
    height:350px;
    margin-top: 1em;
    transition: ease-in 2s;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 4s;
    animation-name: fade;
    animation-duration: 4s;
  }
  
@-webkit-keyframes fade {
    from {opacity: .6} 
    to {opacity: 1}
  }
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  @media(min-width :1085px){
    .slideImg{  height:700px;
    }
  }  
